/* Custom fonts first */
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Questrial&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../../node_modules/flowbite";
@source "../../../node_modules/flowbite-datepicker";


/* custom theme for brand colors */
@theme {
  --color-purplerain: #CDB4DB;
  --color-pinkrain: #FFAFCC;
  --color-bluerain: #A2D2FF;
  --color-purplerain-hr: #EFF5EB;
  --color-pinkrain-hr: #EBFFF8;
  --color-bluerain-hr: #FFF3E8;
  --color-purplerain-75: #F2ECF6;
  --color-pinkrain-75: #FFEBF2;
  --color-bluerain-75: #E8F4FF;
  --color-brandwhite: #FFFFFF;
  --color-brandblack: #000000;
  --color-branddarkgray: #939393;
  --color-brandlightgray: #f2f2f2;
  --color-activelink: #1d4ed8;
  --color-wysiwyg: hsla(0, 0%, 100%, .25);
  --font-work-sans: "Work Sans", sans-serif;
  --font-poetsen-one: "Poetsen One", sans-serif;
  --font-questrial: "Questrial", sans-serif;
}