<% if @invites.any? %>
  <div class="flex flex-row mt-2">
    <div class="flex space-x-0.5 w-full h-auto">
      <% @invites.each_with_index do |invite, idx| %>
        <div id="tooltip-avatar-<%= idx %>" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip">
          <%= invite.attendee.display_name %>
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        <% if idx == 5 && @invites.size > 5 %>
          <%= render AvatarPlaceholderComponent.new(placeholder_initial: "#{@invites.size - 5}+", size: 14) %>
          <% break %>
        <% end %>
        <%= render AvatarPlaceholderComponent.new(placeholder_initial: invite.attendee.placeholder_initial, 
                                                    size: 14,
                                                    data_hash: {tooltip_target: "tooltip-avatar-#{idx}"}) %>
      <% end %>
    </div>
  </div>
<% end %>
