<li>
  <%= link_to @name, @path, 
            class: ["block py-2 px-3 rounded-sm md:p-0 font-bold
            hover:bg-linear-to-r hover:text-transparent hover:bg-clip-text hover:from-purplerain hover:to-pinkrain",
                    ("dark:text-blue-700" if helpers.active?(@path))],
            aria: { current: helpers.active?(@path) ? 'current' : 'false' } %>
</li>