<% content_for :title, "Public Events" %>
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center mb-5">
    <h1 class="font-work-sans font-bold text-4xl">Public Events</h1>
    <% if authenticated? %>
      <%= render CreateEventBtnComponent.new %>
    <% end %>
  </div>
  <%= render EventsCardComponent.new(events: @events, user: @user) %>
</div>
